〔お知らせ〕
${date} 現在の[[はてなハイクキーワード]]数は ${count} 件です。
【 [http://h.hatena.ne.jp/keywords?word=&page=${lastPage}:title=Tail of List] / [http://h.hatena.ne.jp/mobile/keywords?word=&page=${mobilePage}:title=Tail of List(mobile)] 】
