${greeting}ここで、分類が「${category}」のキーワードをいくつかご紹介します。
 
<% list.each{ %>[[$it.title]] (${it.info})
<% } %> 
 
ハイカーさん、私の勉強部屋([[ふもぼのキーワード勉強部屋]])か[http://h.hatena.ne.jp/id/${botId}:title=私のIDページ]で
もっといっぱい分類を教えて欲しい！
